{% load static %}
{% load django_bootstrap_breadcrumbs %}
<!DOCTYPE html>
<html lang="ru">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">

	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<title>searchdata :: {% block title %}XXX{% endblock %}</title>
	<meta name="description" content="Наши организованные мероприятия">
	<meta name="keywords" content="Семинары, спорт, здоровье">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">


 	<!-- OG Tags -->
	<meta property="og:title" content="Развлекательные мероприятия">
	<meta property="og:description" content="Организация развлекательных мероприятий">
	<meta property="og:type" content="article">
	<meta property="og:image" content="#" >
	<meta property="og:site_name" content="SCHOOL OF FUNCTION">
	<!-- CSS Styles -->

	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/main2.css' %}">
	<link type="text/css" rel="stylesheet" href="{% static 'assets/css/corrected4.css' %}" >


</head>
<body class="is-preload">

		<!-- Nav -->
			<nav id="nav">
				<ul class="container">
					<li><a href="/">Общая информация</a></li>
					<li><a href="#work">Стоимость услуг</a></li>
					<li><a href="/blog">Блог</a></li>
					<li><a href="#contact">Контакты</a></li>
				</ul>
			</nav>

<div>
    {% block content %}

	{% block breadcrumbs %}
    	{% clear_breadcrumbs %}
    	{% breadcrumb "Home" "/" %}

	{% endblock %}

	{% block content11 %}
    	{% render_breadcrumbs %}
	{% endblock %}

	{% endblock %}
</div>
		<!-- Contact -->
   <article id="contact" class="wrapper style4">
    <div class="container medium" id="contact2">
     <header>
      <h2>Напишите мне, чтобы я могла написать Вам.</h2>
      <p>Каждый клиент для нас имеет значение!</p>
     </header>
     <div class="row">
      <div class="col-12">
       <form method="post" action=".">
        <div class="row">
         <div class="col-6 col-12-small">
          <input type="text" name="name" id="name" placeholder="Name" />
         </div>
         <div class="col-6 col-12-small">
          <input type="text" name="email" id="email" placeholder="Email" />
         </div>
         <div class="col-12">
          <input type="text" name="subject" id="subject" placeholder="Subject" />
         </div>
         <div class="col-12">
          <textarea name="message" id="message" placeholder="Message"></textarea>
         </div>
         <div class="col-12">
          <ul class="actions">
           <li><input type="submit" value="Send Message" /></li>
           <li><input type="reset" value="Clear Form" class="alt" /></li>
          </ul>
         </div>
        </div>
       </form>
      </div>
						<div class="col-12">
							<hr />
							<h3>Find me on ...</h3>
							<ul class="social">
								<li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon brands fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon brands fa-tumblr"><span class="label">Tumblr</span></a></li>
								<li><a href="https://github.com/tgrx/benzak/blob/master/src/project/templates/base.html" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
								<li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
								<!--
								<li><a href="#" class="icon solid fa-rss"><span>RSS</span></a></li>
								<li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-foursquare"><span>Foursquare</span></a></li>
								<li><a href="#" class="icon brands fa-skype"><span>Skype</span></a></li>
								<li><a href="#" class="icon brands fa-soundcloud"><span>Soundcloud</span></a></li>
								<li><a href="#" class="icon brands fa-youtube"><span>YouTube</span></a></li>
								<li><a href="#" class="icon brands fa-blogger"><span>Blogger</span></a></li>
								<li><a href="#" class="icon brands fa-flickr"><span>Flickr</span></a></li>
								<li><a href="#" class="icon brands fa-vimeo"><span>Vimeo</span></a></li>
								-->
							</ul>
							<hr />
						</div>
					</div>
					<footer>
						<ul id="copyright">
							<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="facebook.com">HTML5 UP</a></li>
						</ul>
					</footer>
				</div>
			</article>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>