@font-face {
  font-family: 'Museo Sans 100';
  src: url('../fonts/MuseoSansCyrl-100.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-100.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-100.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 300';
  src: url('../fonts/MuseoSansCyrl-300.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-300.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-300.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Museo Sans 900';
  src: url('../fonts/MuseoSansCyrl-900.eot'); /* IE9 Compat Modes */
  src: url('../fonts/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/MuseoSansCyrl-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/MuseoSansCyrl-900.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/MuseoSansCyrl-900.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Natasha regular';
  src: url('../fonts/Natasha.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Natasha.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Natasha.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Natasha.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Natasha.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Natasha.svg#svgFontName') format('svg'); /* Legacy iOS */
}

/* ------ Спецификация ------ */

body {
	margin: 0;
	padding: 0;
	background: #fff;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

h2, h3 {
	font-family: 'Natasha regular', sans-serif;
}

ul, li {
	display: block;
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	width: 940px;
	margin: 0 auto;
}

div, p, form, input, a, span, button, ul, li {
	box-sizing: border-box;
}

.d-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.justify-content-between {
	justify-content: space-between;
}

.align-items-center {
	align-items: center;
}

a {
	display: block;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

.header {
	background: #172013 url(../image/bg_header.jpg) no-repeat center top / cover;
	padding: 53px 0 78px 0;
}

.navigation {
	font-family: 'Museo Sans 900', sans-serif;
}

.navigation a {
	color: #fff; 	
}

.logo {
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.124em;
}

.logo span {
	font-family: 'Museo Sans 100', sans-serif; 
}

.menu {
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.124em;
}

.menu__link {
	position: relative;
}

.menu__link:after {
	content: '';
	width: 98px;
	height: 3px;
	bottom: -5px;
	display: none;
	opacity: 0.7;
	background: rgba(65,139,82,1);
	background: -moz-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,139,82,1)), color-stop(100%, rgba(36,76,45,1)));
	background: -webkit-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -o-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -ms-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: linear-gradient(to right, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418b52', endColorstr='#244c2d', GradientType=1 );
}

.menu__link:hover:after {
	display: block;  
	position: absolute; 
	left: -9px;
}

.header li:nth-child(2) {
    margin: 0 45px;
} 

.email {
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 13px; 
	letter-spacing: 0.122em;	
}

.email:hover {
	text-decoration: underline;
}

.offer {
	margin: 290px 0 257px 0;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}

.offer__title {
	font-family: 'Natasha regular', sans-serif;
	padding-bottom: 20px; 
	font-size: 49px;
	letter-spacing: 0.12em;
}

.offer__text {
	font-family: 'Museo Sans 100', sans-serif; 
	font-size: 29px;
	letter-spacing: 0.12em;
}

.go {
	display: block;
	width: 40px;
	height: 40px;
	margin: 0 auto; 
	border: 1px solid #fff;
	border-radius: 100%;
	font-family: Arial, sans-serif;
	font-size: 18px;
	text-align: center;
	line-height: 37px;
	color: #fff;
}

.go:hover {
	color: #eef7f0;
	border: 1px solid #eef7f0; 
	opacity: 0.5;
	background: rgba(65,139,82,1);
	background: -moz-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(65,139,82,1)), color-stop(100%, rgba(36,76,45,1)));
	background: -webkit-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -o-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: -ms-linear-gradient(left, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	background: linear-gradient(to right, rgba(65,139,82,1) 0%, rgba(36,76,45,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#418b52', endColorstr='#244c2d', GradientType=1 );
}

.about {
	padding: 80px 0 90px 0;
}

.about__title {
	margin-bottom: 71px;
	font-size: 37px;
	letter-spacing: 0.12em;
	color: #22241b;
}

.background,
.about__info {
	width: 50%;
}

.background__title,
.merits__title,
.connection__title {
	font-size: 22px;
	letter-spacing: 0.12em;
	color: #6d6f69;
}

.background__title {
	margin-bottom: 40px;
}

.background__text {
	margin: 0 30px 30px 0;
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 15px;
	letter-spacing: 0.02em;
	line-height: 1.75em;
	color: #22241b;
}

.background__text:last-child {
	margin-bottom: 0;
}

.merits__title {
	margin-bottom: 59px;
}

.merits__list {
	font-family: 'Museo Sans 100', sans-serif;
}

.merits__digits {
	font-size: 20px;
	width: 71px;
	border: 2px solid #3d6433;
	height: 71px;
	margin: 0 auto;
	text-align: center;
	position: relative;
	display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    transform: rotate(45deg);
}

.merits__item {
	width: 33%;
	text-align: center; 
}

.merits__digits:after {
	content:'';
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	border: 1px solid #cddbc3;
	left: 6px;
    top: 6px;
}

.merits__digits span {
	display: block;
	transform: rotate(-45deg);
}

.merits__description{
	margin-top: 37px;
	font-size: 12px;
	color: #22241b;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	line-height: 1.7em;
}

.connection__social,
.connection__appeal {
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 14px;
}

.connection__social a{
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 14px;
	color: #204d15;
	letter-spacing: 0.12em;
}

.connection__social a:hover {
	text-decoration: underline;
}

.connection__appeal {
	color: #60615a;
	letter-spacing: 0.02em;
}

.connection {
	margin-top: 60px;
}

.connection__title {
	margin-bottom: 33px;
}

.connection__contacts a {
	margin-bottom: 18px;
}

.connection__contacts a:last-child {
	margin-bottom: 0;
}

.icon-User {
	display: inline-block;
	width: 63px;
	height: 63px;
	margin: 0 13px 0 10px;
	font-size: 25px;
	background: #eef1ed;
	border-radius: 100%;
	text-align: center;
	line-height: 2.4em;
}

.skills {
	padding-bottom: 80px;
}

.skills__title{
	margin-bottom: 55px;
	font-size: 37px;
	letter-spacing: 0.12em;
	color: #22241b;
}

.technology__item {
	width: 25%;
}

.technology__percent {
	font-family: 'Museo Sans 100', sans-serif;
	width: 62px;
	height: 62px;
	border: 1px solid #305a26;
	border-radius: 100%;
	font-size: 13px;
	color: #204d15;
	text-align: center;
	line-height: 58px;
	letter-spacing: 0.15em;
}

.technology__scroll {
	font-family: 'Museo Sans 900', sans-serif;
	margin-left: 25px;
	font-size: 15px;
	text-transform: uppercase;
	color: #3a3c34;
	letter-spacing: 0.13em;
}

.technology__percent {
	position: relative;
}

.technology__percent:after {
	content:'';
	display: block;
	position: absolute;
	width: 48px;
	height: 48px;
	border-radius: 100%;
	border: 1px solid #b2b7b1;
	left: 5px;
    top: 5px;
}

.works {
	margin-bottom: 123px;
}

.works__title {
	margin-bottom: 55px;
	font-size: 37px;
	letter-spacing: 0.12em;
	color: #22241b;
}

.picture__overlay {
	text-align: center;
	line-height: 1.6em;
}

.picture__link:hover {
	text-decoration: underline;
}

.picture__item {
	position: relative;
}

.picture__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 99%;
	background: rgb(0,0,0,0.6);
	color: #fff;
	opacity: 0;
    transition: all 0.5s ease;
}

.picture__item:hover,
.picture__overlay:hover {
	opacity: 1;
}

.picture__name {
	margin-top: 8.3em;
	font-family: 'Museo Sans 900', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	color: #fff;
}

.picture__link {
	font-family: 'Museo Sans 300', sans-serif;
	font-size: 13px;
	color: #fff;
}

.footer {
	font-family: 'Museo Sans 300', sans-serif;
	margin-bottom: 110px;
	font-size: 11px;
	color: #777873;
	letter-spacing: 0.138em;
	text-transform: uppercase;
}

/* ------ Media Queries ------ */

/* 992-1200px */
@media screen and (max-width: 1200px) {

	.container {
		width: 900px;
	}

	.background {
		margin-right: 20px;
	}

	.picture__link {
		text-decoration: underline;
	}

	.works {
		margin-bottom: 110px;
	}

	.connection__contacts {
		justify-content: space-between;
	}
}

/* 768-992px */
@media screen and (max-width: 992px) {

	.container {
		width: 700px;
	}

	.offer__title { 
		line-height: 1.2em;
	}

	.about__content {
		flex-direction: column;
	}

	.background {
		width: 100%;
	}

	.about__info {
		width: 100%;
	}

	.merits,
	.connection {
		width: 70%;
		margin: 40px auto 0 auto;
	}

	.skills__title,
	.works__title {
		margin-bottom: 70px;
	}

	.picture {
		flex-wrap: wrap; 
		margin: 0 auto;
		width: 91%;
	}

	.picture__item:last-child {
		margin: 32px auto 0 auto;
	}

	.picture__item {
		width: 300px;	
	}

	.technology {
		flex-direction: column;
	}
		
	.technology__item {
		width: 30%;
		margin-bottom: 25px;
	}

	.technology__item:last-child {
		margin-bottom: 0;
	}

	.about__title,
	.background__title,
	.merits__title,
	.connection__title,
	.skills__title,
	.works,
	.future {
		text-align: center;
	}

	.works {
		margin-bottom: 80px;
	}

	.footer {
		margin-bottom: 80px;
	}

}

/* 576-768px */
@media screen and (max-width: 768px) {

	.container {
		width: 500px;
	}

	.navigation {
		flex-direction: column;
	}

	.logo {
		margin-bottom: 40px;
	}

	.menu {
		margin-bottom: 20px;
	}

	.menu {
		position: relative;
	}

	.email {
		position: absolute;
		right: 40px;
	}

	.menu__list {
		justify-content: space-between;
	}

	.offer__title { 
		line-height: 1.2em;
	}

	.about__content {
		flex-direction: column;
	}

	.background,
	.about__info {
		width: 100%;
	}

	.merits__title {
		margin-top: 45px;
	}

	.merits__description {
		width: 120px;
		margin: 40px auto 0 auto;
	}

	.connection__title {
		margin-top: 45px;
	}

	.technology {
		flex-direction: column;
	}

	.technology__item {
		width: 100%;
		margin-bottom: 20px;
	}

	.skills {
		padding-bottom: 60px;
	}

	.about, .skills, .works {
		margin: 0 auto;
	}

	.merits,
	.connection {
		width: 100%;
	}

	.technology__item {
		width: 40%; 
		margin-bottom: 25px;
	}

	.technology__item:last-child {
		margin-bottom: 0;
	}

	.picture {
		flex-direction: column; 
		margin: 0 auto;
		width: auto;  /*БЫЛО width: 91%; сразу я это не прописывала*/
	}

	.picture__item {
		margin: 0 auto;
		margin-bottom: 32px;
	}

	.picture__item:last-child {
		margin-top: 0;
		margin-bottom: 0; 
	}

	.skills {
		padding-bottom: 80px;
	}

	.footer {
		padding-top: 80px;
	}

}

/* 320-576px */
@media screen and (max-width: 576px) {
	
	.container {
		width: 90%;
	}

	.header .email,
	.header .menu {
		display: none;
	}

	.header {
		padding-bottom: 60px;
	}

	.offer__text {
		font-size: 20px;
	}

	.offer {
		margin: 100px 0;
	}

	.logo {
		text-align: center;
	}

	.merits__list {
		flex-direction: column;
	}

	.merits__item {
		width: 100%;
	}

	.merits__description {
		margin-bottom: 40px;
	}

	.connection__contacts {
		flex-direction: column;
	}

	.connection__social {
		width: 60%;
		margin: 0 auto;
	}

	.connection__appeal {
		width: 100%;
		margin-top: 40px;
	}

	.technology__item {
		width: 73%;
	}

	.picture {
		margin: 0; 
		padding: 0;
	}

	.picture__item {
		margin-bottom: 32px;
		max-width: 290px;	/*сразу я это не прописывала*/
	}
	
	.picture__item img {
		max-width: 100%; /*сразу я это не прописывала*/
	}

}










