  	.wrapper.style4{
  	background-color: #e0b044
  	}
  	#nav {
  	line-height: 35px;
  	}
  	#nav ul {
  	background-color: #1cb3ac;
  	max-width: 100%;
  	margin: 5px auto;
  	}
  	ul.social li a:before {
  	background-color: none;
  	}
  	ul.social li a {background-color: none;}