{% extends "base.html" %}
{% load static %}
{% load blog_tags %}
{% block title %}{% endblock %}
{% block content %}
 <!-- Portfolio -->
   <article id="portfolio" class="wrapper style3">
    <div class="container">
     <header>
      <h2>Вот наши работы.</h2>
      <p>Это было нелегко.</p>
         <p><a href="{% url "blog:post_search" %}">Найти по поиску</a></p>


     </header>
  <div id="sidebar">
      <h3>Latest posts</h3>
      {% show_latest_posts 3 %}
    <h3>Most commented posts</h3>
    {% get_most_commented_posts as most_commented_posts %}
    <ul>
    {% for post in most_commented_posts %}
      <li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>


     <div class="row">
      <div class="col-4 col-6 col-12">
       <article class="box style2">


{% block content1 %}{% endblock %}

       </article>
      </div>
     </div>
        <footer>
      <p>Вы уже заинтересовались?</p>
      <a href="#contact" class="button large scrolly">Свяжитесь со мной</a>
     </footer>
    </div>
   </article>
{% endblock%}
